<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/2471FFBC-D57E-4A75-A57C-F8475BB00379.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/2471FFBC-D57E-4A75-A57C-F8475BB00379.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FC28C9EE-765C-442B-91D8-4B6D5D3BEB15.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FC28C9EE-765C-442B-91D8-4B6D5D3BEB15.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Constants.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Copula.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Experimental.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Inference.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Narsese.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Truth.swift</key>
		<string>Added</string>
		<key>UserModules/NAL.playgroundmodule/Sources/Utility.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Bag.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Concept.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Item.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Memory.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/NARS.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Sentence.swift</key>
		<string>Added</string>
		<key>UserModules/NARS.playgroundmodule/Sources/Utility.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
