<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>156DE8C9-F05A-4E71-A66E-67B3FDC4BD90.playgroundpage</string>
		<string>FC28C9EE-765C-442B-91D8-4B6D5D3BEB15.playgroundpage</string>
		<string>89B149BB-34C2-47F1-8C93-12C36200FF07.playgroundpage</string>
	</array>
</dict>
</plist>
