<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>FC28C9EE-765C-442B-91D8-4B6D5D3BEB15.playgroundpage</string>
		<string>2471FFBC-D57E-4A75-A57C-F8475BB00379.playgroundpage</string>
	</array>
</dict>
</plist>
